.hero {
  margin-bottom: 164px;
  .hero__container {
    padding: 0 165px;

    h1 {
      font-family: 'Playfair Display', serif;
      font-size: 114px;
      font-weight: 700;
      line-height: 1;

      margin-bottom: 47px;

      span {
        color: #FD665E;
      }
    }
    .hero__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      .hero__desc {
        align-self: flex-start;
        p {
          width: 290px;

          margin-right: 55px;
          margin-bottom: 48px;
        }

        .btn {
          background: #FD665E;
          color: #ffffff;

          padding: 20px 32px;
          border-radius: 4px;

          font-size: 14px;
          font-weight: 500;

          &:hover {
            background: #FD4E45;
            transition: all .3s;
          }
        }
      }
    }
  }
}