.showcase {
  margin-bottom: 164px;

  .showcase__container {
    padding: 0 165px;
    overflow: hidden;

    .showcase__desc {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
      .section__title {
        width: 537px;
      }

      .arrows {
        display: flex;
        align-self: flex-end;
        justify-self: flex-end;

        .arrow__container {
          display: flex;
          align-items: center;
          padding: 14px;
          border-radius: 4px;
          
          &:hover {
            background: #F7F7F7;
            cursor: pointer;
            transition: all .2s;
            .arrow__left, .arrow__right {
              path {
                transition: all .2s;
                fill: #FD665E;
              }
            }
          }
          
          &:first-child {
            margin-right: 8px;
          }
        }
      }
    }

    .showcase__images {
      display: flex;
      justify-content: space-between;

      .showcase__img {
        margin-right: 40px;
      }
    }
  }
}